.gridTetris{
    width: 400px;
    height: 800px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.gridTetris div{
    width: 40px;
    height: 40px;
    background-color: blue;
}